:root{
--Blue-950: hsl(233, 26%, 24%);
--Green-500: hsl(136, 64%, 51%);
--Cyan-400: hsl(192, 69%, 51%);
--Gray-600: hsl(233, 8%, 62%);
--Gray-100: hsl(220, 16%, 96%);
--Gray-50: hsl(0, 0%, 98%);
--White: hsl(0, 100%, 100%);
}
html{
    font-family: "Public Sans",sans-serif;
}

*,::after,::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    width: 100%;
}

body p{
    font-size: 18px;
}

.flex-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
}
.header{
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.header-nav,.request{
    display: none;
}
.header button{
    border: none;
}
.top-main{
    width: 100%;
    height: 90vh;
    justify-content: space-between;
}
.main-img{
    width: 100%;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}
.back-mobile{
    width: 100%;
    height: 100%;
    background-image: url(./images/image-mockups.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: 87%;
}
.banking{
    text-align: center;
    justify-content: center;
    gap: .5rem;

}
.banking a{
    display: initial;
    background: var(--Green-500);
    background: linear-gradient(nulldeg,rgba(35, 222, 76, 1) 51%, rgba(148, 187, 233, 1) 76%);
    padding: 1.2rem;
    border-radius:35px;
    width: 190px;
    color: white;
    text-decoration: none;
    margin-top: 1rem;
}

.banking h2{
    font-size: 2.1rem;
    font-weight: 300;
    color: var(--Gray-600);
}

.banking p{
    font-size: 0.8rem;
    color: var(--Gray-600);
}

.portifolio{
    width: 100%;
    background: var(--Gray-100);
    text-align: center;
    justify-content: center;
    padding-bottom: 2rem;
}

.align-art1{
    justify-content: center;
}

.container-desktop{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-artigos{
    width: 80%;;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    gap: 1rem;
    justify-content: center;
}

.container h2{
    font-weight: 300;
    color: var(--Blue-950);
    padding-bottom: 1rem;
}

.container p{
    font-size: .8rem;
    color: var(--Gray-600);
    padding-bottom: 1rem;
}

.box h2{
    padding: 1rem;
}
.box{
    width: 80%;
    margin-top: 1rem;
    height: 200px;
    gap: 2rem;
}

.artigos{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
    margin: 0 auto;
}

.artigos h2{
    color: var(--Blue-950);
    padding: 3rem;
}

.artigos div {
    width: 330px;
    box-sizing: border-box;
}

.artigos img{
    width: 100%;
    height: 180px;
}

.autor {
    color: var(--Gray-600);
    font-size: small;
    padding-bottom: 1rem;
    padding-top: 1rem;
}


.artigos .artigos-descricao{
    width: 280px;
    margin-left: 1.5rem;
}

.artigos a{
    text-decoration: none;
    color: var(--Blue-950);

}
.artigos-text{
    color: var(--Gray-600);
    font-size: .9rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

footer{
    width: 100%;
    background: var(--Blue-950);
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: 500px;
}

.foot-logo{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.icons{
    padding-top: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.foot-nav,ul{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.foot-nav li,a{
    list-style-type: none;
    text-decoration: none;
    color: var(--White);
    gap: 2rem;

}

footer p{
    color: var(--Gray-600);
    padding-bottom: 2rem;
}
.nav-foot-1 ul, .nav-foot-2 ul{
    height: fit-content;
    gap: 15px;
}

.nav-foot-1 ul a,.nav-foot-2 ul a{
    list-style-type: none;
    text-decoration: none;
    color: var(--White);
}

footer .request, .banking .request{
    display: initial;
    background: var(--Green-500);
    background: linear-gradient(to right top, #32d25d, #4dd66f, #62da80, #76de90, #88e1a0);
    padding: 1.2rem;
    border-radius:35px;
    width: 190px;
    color: white;
    text-decoration: none;
    margin-top: 1rem;
}

footer p{
    color: var(--Gray-600);
}

.attribution{
    background-color: var(--Gray-100);
}

.header button:hover + ul{
    position: absolute;
    display: flex;
    align-items: center;
    right: 40px;
    top: 90px;
    background: var(--White);
    width: 80%;
    height: 292px;
    list-style-type: none;
    padding: 1rem;
    border-radius: 5px;
    color: var(--Blue-950);
    box-shadow: 2px -26px 50px 15px #0E0347;
}
ul a{
    color: var(--Blue-950);
}
@media(min-width:770px){

    button{
        display: none;
    }

    .header-nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style-type: none;
        gap: 1.5rem;
        color: var(--Gray-600);
        z-index: 10;
        background: white;

    }

    .header .request{
        display: block;
        background: var(--Green-500);
        background: linear-gradient(to right top, #32d25d, #4dd66f, #62da80, #76de90, #88e1a0);
        padding: .8rem;
        border-radius:35px;
        width: 190px;
        color: white;
        text-decoration: none;
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        margin-top: 0;
        z-index: 10;
    }

    .top-main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        flex-basis: auto;
        width: 100%;
        height: 40vh;
    }

    .back-mobile{
        display: none;
    }

    .mobile{
        grid-row: 1 / -1;
        width: 100%;
        height: 200%;
        grid-column: 3 / -1;
        background-image: unset ;
         background-image: url(/images/image-mockups.png), url(/images/bg-intro-desktop.svg)  ;
         background-position: left bottom;
         z-index: -1;
    }

    .banking h2, .banking p{
        text-align: left;
    }

    .banking .request{
        padding: .8rem;
    }
    .banking h2{
        color: var(--Blue-950);
        font-size: 2.5rem;
    }

    .portifolio{
        background: var(--Gray-100);
        width: 100%;
        padding-top: 6rem;
        padding-bottom: 4rem;
    }

    .container-desktop{
        width: 37%;
        text-align: left;
    }

    .container{
        align-items: start;
    }

    .container-artigos{
        width: 100%;
        text-align: left;
        align-items: center;
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        flex-basis: auto;
        justify-content: space-between;
        gap: 1rem;
    }

    .align-art1{
        gap: 1rem;
    }

    .box{
        width: 210px;
        height: 250px;
        justify-content: center;
        flex-direction: column;
        flex-basis: auto;
        gap: 2rem;
    }

    .box img{
        width: 60px;
        height: 60px;
    }

    .box h2{
        font-size: 1.4rem;
        padding-left: 0;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .artigos{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .artigos .artigos-title h2{
        text-align: left;
    }
    .artigos .limite-art{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        width: 100%;
    }
    .artigos .artigos-title{
        padding: 0;
        margin-left: 0;
        width: 100%;
    }
    .artigos-title h2{
        padding-left: 0;
        padding-right: 0;
    }

    .art-limiter img{
        width: 100%;
    }
    .artigos .artigos-descricao{
        width: 200px;
        margin-left: 0;
    }
    .artigos .art-limiter{
        padding-left: 0;
        margin-left: 0;
        width: 300px;
        box-sizing: border-box;
    }
    .limitado{
        width: 70%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    footer{
        flex-direction: row;
        align-items: center;
        height: 200px;
    }
    footer a{
        color: var(--White);
    }
    .foot-logo{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 50%;
        margin-top: 1.5rem;
        gap: 1.5rem;
    }
    .foot-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 250px;
    }

    .foot-nav,ul{
        text-align: left;
        margin-top: .8rem;
        height: 80%;
        gap: .1rem;
    }

    .foot-nav,ul,li{
        height: 40%;
        gap: .1rem;
    }


    .nav-foot-1, .nav-foot-2{
        height: 100px;
    }
    footer ul{
        gap: 1rem;
    }

    .foot-request{
        display: flex;
        flex-direction: column;
        align-items:end;
        margin-top: 2rem;
        gap: 1.5rem;
        height: 80%;
    }

    .nav li{
        display: flex;
        align-items: center;
        height: 90px;
        border-bottom: 5px solid transparent;
    }

    footer ul a:hover,.artigos a:hover{
        color: var(--Green-500);
    }

    .nav li:hover{
        border-bottom: 5px solid var(--Green-500);
    }

}