:root{
--Blue-950: hsl(233, 26%, 24%);
--Green-500: hsl(136, 64%, 51%);
--Cyan-400: hsl(192, 69%, 51%);
--Gray-600: hsl(233, 8%, 62%);
--Gray-100: hsl(220, 16%, 96%);
--Gray-50: hsl(0, 0%, 98%);
--White: hsl(0, 100%, 100%);
}
html{
    font-family: "Public Sans",sans-serif;
}

*,::after,::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.banking a, footer .request{
    display: initial;
    background: var(--Green-500);
    background: linear-gradient(to right top, #32d25d, #4dd66f, #62da80, #76de90, #88e1a0);
    padding: 1.2rem;
    border-radius:35px;
    width: 190px;
    color: white;
    text-decoration: none;
    margin-top: 1.4rem;
}
body{
    height: 100%;
    width: 100%;
}

body p{
    font-size: 18px;
}

.flex-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
}
.header{
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.header-nav,.request{
    display: none;
}
.header button{
    border: none;
}
.top-main{
    width: 100%;
    height: 100vh;
    justify-content: space-around;
}
.main-img{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    
}
.back-mobile{
    width: 100%;
    height: 100%;
    background-image: url(./images/image-mockups.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: 87%;
    
}
.banking{
    width: 80%;
    text-align: center;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 3rem;
    padding: 2rem;

}
.banking h2{
    font-size: clamp(2rem,4vh,4rem);
    font-weight: 600;
    color: var(--Blue-950);
}

.banking p,.portifolio p{
    font-size: clamp(0.9rem,3vh,2rem);
    color: var(--Gray-600);
}

.portifolio{
    width: 100%;
    background: var(--Gray-100);
    text-align: center;
    justify-content: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.align-art1{
    justify-content: center;
}

.container-desktop{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-artigos{
    width: 100%;;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    gap: 1rem;
    justify-content: center;
    width: 75%;
}
.container-desktop h2{
    font-size: clamp(2.2rem,3vh,4rem);
}
.container h2{
    font-size:(2rem,4vh,4rem);
    font-weight: 300;
    color: var(--Blue-950);
    padding-bottom: 1rem;
}

.container p{
    font-size: .8rem;
    color: var(--Gray-600);
    padding-bottom: 1rem;
}

.box h2{
    padding: 1rem;
    font-size: clamp(1.4rem,2vh,3rem);
}
.box br{
    display: none;
}
.box{
    width: 100%;
    margin-top: 1rem;
    height: 200px;
    gap: 2rem;
}

.artigos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
}
.artigos-title{
    text-align: center;
    width: 75%;
}
.artigos h2{
    color: var(--Blue-950);
    padding: 3rem;
}
.limite-art{
    width: 75%;
}
.artigos img{
    width: 100%;
    height: 180px;
}
.autor {
    color: var(--Gray-600);
    font-size: small;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.artigos .artigos-descricao{
    padding-left: 1rem;
}

.artigos a{
    text-decoration: none;
    color: var(--Blue-950);
}
.artigos-text{
    color: var(--Gray-600);
    font-size: .9rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

footer{
    width: 100%;
    background: var(--Blue-950);
    text-align: center;
    justify-content: space-around;
    height: 31,25;
    padding-bottom: 3rem;
}
.limitado{
    width: 90%;
}
.foot-logo{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.icons{
    padding-top: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.foot-nav,ul{
    height: 12,5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.foot-nav li,a{
    list-style-type: none;
    text-decoration: none;
    color: var(--White);
    gap: 2rem;
}
.foot-request p{
    padding: 1rem;
}
footer p{
    color: var(--Gray-600);
    padding-bottom: 2rem;
}
.nav-foot-1 ul, .nav-foot-2 ul{
    height: fit-content;
    gap: 15px;
}
.nav-foot-1 ul a,.nav-foot-2 ul a{
    list-style-type: none;
    text-decoration: none;
    color: var(--White);
}
footer p{
    color: var(--Gray-600);
}
.attribution{
    background-color: var(--Gray-100);
}
.header button:hover + ul{
    position: absolute;
    display: flex;
    align-items: center;
    right: 40px;
    top: 90px;
    background: var(--White);
    width: 80%;
    height: 292px;
    list-style-type: none;
    padding: 1rem;
    border-radius: 5px;
    color: var(--Blue-950);
    box-shadow: 2px 5px 50px 15px #0E0347;
}
ul a{
    color: var(--Blue-950);
}
@media(min-width:750px){
    button{
        display: none;
    }
    header .request{
        display: initial;
        background: var(--Green-500);
        background: linear-gradient(to right top, #32d25d, #4dd66f, #62da80, #76de90, #88e1a0);
        padding: 1rem;
        border-radius:35px;
        color: white;
        text-decoration: none;
    }
    .header,header{
        height: 25%;
    }
    .header-nav{
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        margin: 0;
    }
    .back-mobile{
        background-size: 70%;
    }
    .container-artigos{
        flex-direction: row;
        gap: .5rem;
        width: 80%;
    }
    .container{
        width: 100%;
    }
    .container br{
        display: none;
    }
    .box br{
        display: initial;
    }
    .box{
        height: 250px;
        justify-content: space-between;
        flex-basis: auto;
    }
    .box h2{
        padding: 1rem;
    }
    .artigos{
        justify-content: flex-start;
        padding-bottom: 5rem;
    }
    .artigos .limite-art{
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
    .art-limiter img{
        width: 100%;
    }
    .limite-art{
        flex-basis: auto;
    }
    .artigos-title{
        width: 80%;
    }
    .artigos-descricao p{
        padding: .5rem 0 0 0;
        padding-left: 0;
    }
    .artigos .artigos-descricao{
        padding-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .limitado{
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.5rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .foot-logo{
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 1rem;
    }
    .foot-nav {
        flex-direction: row;
        width: 30%;
    }
    .foot-nav,ul{
        text-align: left;
    }
    .foot-request{
        display: flex;
        flex-direction: column;
        align-items:end;
        gap: 1rem;
    }
    .foot-request p{
        padding: 0;
        font-size: 1rem;
    }
    .foot-request .request {
        margin: 0;
    }

    .nav li{
        display: flex;
        align-items: center;
        border-bottom: 5px solid transparent;
    }

    footer ul a:hover,.artigos a:hover{
        color: var(--Green-500);
    }

    .nav li:hover{
        border-bottom: 5px solid var(--Green-500);
    }

}
@media(min-width:1020px){
    .header{
        width: 90%;
    }
    .nav a{
        color: var(--Gray-600);
    }
    .top-main{
        flex-direction: row-reverse;
        z-index: -1;
        height: 100vh;
        width: 100vw;
    }
    .main-img{
        background-image: none;
        background: url(./images/bg-intro-desktop.svg);
        background-repeat: no-repeat;
        /* background-size: 100%; */
        height: 100%;
        background-position: 5% 60%;
        z-index: 3;
    }
    .back-mobile{
        background-position: 250px -160px ;
        background-attachment: initial;
        background-size: 80%;
        height: 100vh;
        width: 100%;
        z-index: 8;
    }
    .banking{
        text-align: left;
        align-items: flex-start;
        gap: 2rem;
        width: 70%;
        
    }
    .banking a{
        text-align: center;
    }
    .banking h2{
        font-size: clamp(2rem,5vh,6rem);
        font-weight: 400;
    }
    .banking p{
        font-size: clamp(.5rem,5vh,1.3rem);
    }
}